---
layout: fullpage
title: About
permalink: /about/
---

<h2>About Me</h2>
<p>{{ site.description }}</p>

<h3>Where You Can Find Me</h3>
<ul>
    {% if site.twitter_username %}
        <li><a href='https://twitter.com/{{ site.twitter_username }}'>Twitter</a></li>
    {% endif %}
    {% if site.github_username %}
        <li><a href='https://github.com/{{ site.github_username }}'>GitHub</a></li>
    {% endif %}
</ul>

<h2>My Coding Statistics</h2>
<h3>Languages</h3>
<p>These are my language usage statistics over all time, updated daily.</p>
<figure style='max-width: 60%;'>
    <embed src='https://wakatime.com/share/@lizainslie16/2f2c64bf-e772-43f3-8383-8db1f94cae8e.svg' />
</figure>
