---
title: Home
layout: fullpage
---

{% assign front_posts = site.posts | sort_by: 'date' | reverse %}

{% for post in front_posts limit: 10 %}
    <div class='card'>
        <h3><a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></h3>

        {% assign truncated_content = '' %}
        {% assign paragraphs = post.content | split:'</p>' %}
        {% for paragraph in paragraphs limit: 3 %}
            {{ truncated_content | append: paragraph }}
            {{ truncated_content | append: '</p>' }}
        {% endfor %}
    </div>
{% endfor %}