@font-face {
    font-family: bellota;
    src: url('/blog/assets/fonts/bellota_regular.ttf');
}

@font-face {
    font-family: bellota;
    src: url('/blog/assets/fonts/bellota_regular_italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: bellota;
    src: url('/blog/assets/fonts/bellota_bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: bellota;
    src: url('/blog/assets/fonts/bellota_bold_italic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: bellota;
    src: url('/blog/assets/fonts/bellota_light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: bellota;
    src: url('/blog/assets/fonts/bellota_light_italic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: cabin;
    src: url('/blog/assets/fonts/cabin_regular.ttf');
}

@font-face {
    font-family: cabin;
    src: url('/blog/assets/fonts/cabin_regular_italic.ttf');
    font-style: italic;
}

@font-face {
    font-family: cabin;
    src: url('/blog/assets/fonts/cabin_bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: cabin;
    src: url('/blog/assets/fonts/cabin_bold_italic.ttf');
    font-weight: bold;
    font-style: italic;
}
